// 1. Import the initial variables
@import "../bulma/sass/utilities/_all";
@import "spacing";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Montserrat", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

.icon {
    color: black;
}

@import "../bulma/sass/base/_all";
@import "../bulma/sass/grid/columns";
@import "../bulma/sass/components/level";
@import "../bulma/sass/elements/container";
@import "../bulma/sass/elements/content";
@import "../bulma/sass/elements/image";
@import "../bulma/sass/elements/icon";
@import "../bulma/sass/elements/title";