<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>A.M. Adhatama</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/my.css">

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="{{ .Site.Params.BaseUrl }}lib/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css"> -->